$black-darker: #161a1e;
$black-lighter: #22262a;

$purple: #53316c;
$cyan: #49578b;

$primary: #d1cdb7;
$foreground: #bcb69f;
$accent: #454138;

$black: #242623;
$white: #fffdf9;
$red: #7b4335;
$green: #3c4d2d;
$blue: #525b76;
$yellow: #4d493a;
