@define-color primary #D1CDB7;
@define-color foreground #BCB69F;
@define-color accent #454138;

* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 14px;
    min-height: 0;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}

window#waybar {
    background: @primary;
    color: @accent;
    border: 0;
    border-bottom: 3px solid @accent;
}

#workspaces {
    margin-top: 10px;
    margin-bottom: 3px;
}

#workspaces button {
    min-width: 20px;

    color: @accent;
    background-color: @foreground;
    background-position: right bottom;

    border-bottom: 10px solid @primary;

    padding: 0px 15px;
    margin: 0px 10px;
}

#workspaces button.active {
    color: @primary;
    background-color: @accent;
    border-bottom: 10px solid @accent;

    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#workspaces button:hover {
    color: @primary;

    /* Props To This Hero -> https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
    background: linear-gradient(to left, @primary 50%, @accent 50%) right;
    background-size: 200% 100%;
    background-position: left bottom;

    box-shadow: 
      0 -2px 0 0 @accent,
      0 2px 0 0 @accent;
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;
    margin-bottom: 10px;

    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

#clock, 
#mpd, 
#battery,
#backlight,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#network,
#custom-spotify,
#tray,
#mode {
    font-weight: bold;
    background-color: @accent;
    color: @primary;

    box-shadow: 
      0 -2px 0 0 @accent ,
      0 2px 0 0 @accent;
    border-top: 2px solid @primary;
    border-bottom: 2px solid @primary;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Waybar Start */
#clock {
    margin-left: 10px;
}

/* Waybar Ending */
/* Fixes Strange Spacing In PulseAudio On The Right */
#pulseaudio {
    margin-right: 10px;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

/* #mode {
    background: #64727D;
    border-bottom: 3px solid white;
} */
