@import "../shared/colors";

* {
    all: unset;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 1rem;
}

.bar {
    background-color: transparent;
}

.main-container {
    padding: 0 1.5rem;
    background-color: $primary;
    // background-image: url("../assets/pattern.png");
}

.workspaces {
    font-size: 0.1rem;
    font-weight: bold;
    margin-top: 0.75rem;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;

    button {
        background-color: $foreground;
        margin: 0 2rem;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 2rem;
	padding-left: 1rem;

        transition: all 0.5s;
        border-top: 2px solid $foreground;
        border-bottom: 2px solid $foreground;

        &.active-occupied,
        &.active-empty {
            color: $primary;
            background-color: $accent;
            border-top: 2px solid $accent;
            border-bottom: 0.875rem solid $accent;

            transition-property: border;
            transition-duration: 0.3s;
            transition-timing-function: linear;
            transition: all 0.5s;
        }

        &.inactive-occupied,
        &.inactive-empty {
            margin-bottom: 0.875rem;
        }

        &.inactive-occupied {
            color: $white;
        }

        &.inactive-empty {
            color: $accent;
        }

        &:hover {
            color: $primary;

            /* Props To This Hero -> https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
            background: linear-gradient(to left, $primary 50%, $accent 50%)
                right;
            background-size: 200% 100%;
            background-position: left bottom;

            box-shadow: 0 -2px 0 0 $accent, 0 2px 0 0 $accent;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            margin-bottom: 0.875rem;

            transition-property: background;
            transition-duration: 0.3s;
            transition-timing-function: linear;
        }
    }
}

.time {
    background: transparent;
}

.systray {
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: $foreground;
    padding: 0 1.5rem;
    margin: 1rem 0;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 1);
}
