@define-color primary #191919;
@define-color secondary #2C2C2C;
@define-color accent #202020;
@define-color foreground #D4D4D4;
@define-color selection #1A2735;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

#window {
}

window#waybar {
  background: @primary;
  color: @foreground;
  border: 0;
}

#workspaces {
  margin: 0.75rem 0;
}

#workspaces button {
  min-width: 16px;

  color: @foreground;
  background-position: right bottom;

  border-radius: 4px;

  padding: 0px 10px;
  margin: 0px 10px;
}

#workspaces button.active {
  color: @foreground;
  background-color: @selection;

  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

#workspaces button:hover {
  color: @foreground;

  /* Props To This Hero -> https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
  background: linear-gradient(to left, @secondary 50%, @accent 50%) right;
  background-size: 200% 100%;
  background-position: left bottom;

  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

#clock,
#mpd,
#battery,
#backlight,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#network,
#custom-spotify,
#tray,
#mode {
  font-weight: bold;
  background-color: @accent;
  border-radius: 4px;

  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 4px;
}

#idle_inhibitor {
  padding-right: 14px;
}

/* Waybar Ending */
/* Fixes Strange Spacing In PulseAudio On The Right */
#pulseaudio {
  margin-right: 10px;
}

#battery {
}

#battery icon {
  color: red;
}

#battery.charging {
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
  color: rgb(102, 220, 105);
}

/* #mode {
    background: #64727D;
    border-bottom: 3px solid white;
} */
